@use '../../scss/variables.scss' as *;

.card {
    width: 650px;
    max-height: 350px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 50px 20px;
    
    grid-column: 2 / 4;
 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border: 0.1px solid rgba(0, 0, 0, 0.1);
    border-top: 25px solid $first-color;
    border-radius: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    &__count {
        margin-top: 30px;
        text-align: center;
        font-size: 4em;
        font-weight: 700;
        line-height: 1.1;
    }
    &__wrapper {
        margin-top: 70px;
        display: flex;
        gap: 10px;
    }
}


.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}