.nav {
    &__list {
        display: flex;
        flex-direction: column;
        gap: 4px;
        list-style-type: none;
    }

    &__item {
        color: black;

        & > a {
            padding: 5px;
            color: black;
          
            cursor: pointer;
            &:hover {
                border-radius: 4px;
                background-color: rgba(254, 170, 126, 0.501);
            }
        }
    }
    &__link {
        padding: 5px;
        color: black;
        font-size: 1.3rem;
        font-weight: 500;
        background-color: white;

        &:hover {
            border-radius: 4px;
            background-color: rgba(254, 170, 126, 0.501);
            border: none;
        }
    }
}
