@use '../../scss/variables.scss' as *;

.header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    padding: 5px;

    &__wrapper-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 2 / 4;
    }

    &__title {
        font-size: 2rem;
        font-weight: 600;
        text-shadow: 1px 1px 1px rgb(148, 132, 132);
        & > span {
            font-weight: 800;
        }
    }
    
    &__subtitle {
        font-size: 1.2rem;
        font-weight: 500;
    }

    &__logo {
        margin: 5px;
        width: 50px;
        background-color: $first-color;
        border-radius: 7px;
    }

    &__wrapper-nav {
        grid-column: 4 / 5;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav {
        &__list {
            display: flex;
            flex-direction: column;
            gap: 4px;
            list-style-type: none;
        }

        &__item {
            color: black;

            & > a {
                padding: 5px;
                color: black;
                font-size: 1.3rem;
                font-weight: 500;
                cursor: pointer;
                &:hover {
                    border-radius: 4px;
                    background-color: rgba(254, 170, 126, 0.501);
                }
            }
        }
        &__link {
            padding: 5px;
            color: black;
            font-size: 1.3rem;
            font-weight: 500;
            background-color: white;
            
             &:hover {
                    border-radius: 4px;
                    background-color: rgba(254, 170, 126, 0.501);
                    border: none;
                }
        }

    }
}

