@use '../../scss/variables.scss' as *;


.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
}

.card {
    width: 650px;
    max-height: 350px;
    margin: 0 auto;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    border: 0;
    grid-column: 2 / 4;

    &__count {
        margin-top: 30px;
        text-align: center;
        font-size: 5em;
        font-weight: 600;
        line-height: 1.1;
    }
    &__wrapper {
        margin-top: 70px;
        display: flex;
        gap: 10px;
    }
}